<li id="<%= feed_item.id %>">
	<%= link_to gravatar_for(feed_item.user), feed_item.user %>
	<span class="user">
		<%= link_to feed_item.user.name, feed_item.user %> 
	</span>
	<span class="content"><p2><%= link_to feed_item.title, feed_item %> </p2>    <%= feed_item.date.to_formatted_s(:short) %></span> 

</li>