<a href="<%= user_path(current_user) %>">
  <%= gravatar_for current_user, size: 52 %>
</a>
<h1>
  <%= current_user.name %>
</h1> <span>
  <%= link_to "View profile", current_user %>
</span>
<span>
<%= link_to 'Create Event', new_event_path %>

</span>
