<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Event_Title %><br />
    <%= f.text_field :title %>
    <%= f.label :Launch %><br />
    <%= f.datetime_select :date %>
    <%= f.label :Duration_in_Minutes %><br />
    <%= f.number_field :duration %>
    <%= f.label :speed %><br />
    <%= f.select :speedArr, [['Race',1],['Training',2],['Endurance',3],['Touring',4]] %>
    <%= f.label :Description %><br />
    <%= f.text_field :content %>
    <%= f.label :Address %><br />
    <%= f.text_field :address, :class => 'address-picker-input' %>


  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
