<h1>Events</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Launch</th>
    <th>Description</th>
    <th>Address</th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= link_to event.title, event %></td>
    <td><%= event.date.to_formatted_s(:short) %></td>
    <td><%= event.content %></td>
    <td><%= event.address %></td>
    <% if event.user_id == @user.id %>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete %></td>
    <% end %>
  </tr>

<% end %>
</table>

<br />


