<h1>Events</h1>

<%= form_tag events_path, :method => :get do %>
  <p>
    Location
    <%= text_field_tag :search, params[:search] %>
    Min Time
    <%= datetime_select :timeMin, params[:timeMin] %>
    Max Time
    <%= datetime_select :timeMax, params[:timeMax] %>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
<% end %>

<table>
  <tr>
    <th>Title</th>
    <th>Launch</th>
    <th>Description</th>
    <th>Address</th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= link_to event.title, event %></td>
    <td><%= event.date.to_formatted_s(:short) %></td>
    <td><%= event.content %></td>
    <td><%= event.address %></td>
    <% if event.user_id == @user.id %>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete %></td>
    <% end %>
  </tr>

<% end %>
</table>

<br />


