<h1>Events</h1>

  <div id="accordion">
    <p2>Search</p2>
    <div>
    <%= form_tag events_path, :method => :get do %>
    <p>
      Location
      <%= text_field_tag :search, params[:search] %>
      <br>
      Min Time 
      <%= datetime_select :timeMin, params[:timeMin] %>
      <br>
      Max Time
      <%= datetime_select :timeMax, params[:timeMax] %>
      <br>
      Duration Min
      <%= number_field :durationMin, params[:durationMin] %>
      <br>
      Duration Max
      <%= number_field :durationMax, params[:durationMax] %>
      <br>
      Speed
      <%= select_tag :speedArr, options_for_select([['----------',0],['Race',1],['Training',2],['Endurance',3],['Touring',4]], :selected=>params[:speedArr]) =%>
      <br>
      <%= submit_tag "Search", :name => nil %>
    </p>
    <% end %>
    </div>
  </div>
<table>
  <tr>
    <th>Title</th>
    <th>Launch Time</th>
    <th>Description</th>
    <th>Address</th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= link_to event.title, event %></td>
    <td><%= event.date.to_formatted_s(:short) %></td>
    <td><%= event.content %></td>
    <td><%= event.address %></td>
    <% if signed_in? and (current_user.admin? or event.user_id == @user.id) %>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete %></td>
    <% end %>
  </tr>

<% end %>
</table>


<br />


