
<p id="notice"><%= notice %></p>

<p>
  <b><%= @event.title %></b>
  
  <%= link_to 'Edit event', edit_event_path(@event) %>

</p>

<p>
  <b>Launch:</b>
  <%= @event.date.to_formatted_s(:short) %>
</p>

<p>
  <b>Duration:</b>
  <%= @event.duration %>
</p>

<p>
  <b>Speed:</b>
  <%= ['n/a', 'Race','Training','Endurance', 'Touring'][@event.speedArr] %>
</p>


<p>
  <b>Description:</b>
  <%= @event.content %>
</p>

<p>
  <b>Latitude:</b>
  <%= @event.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @event.longitude %>
</p>

<p>
  <b>Creator:</b>
  <%= @user.name %>
</p>

<div>
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@event.latitude}%2C#{@event.longitude}" %>
</div>
<p><strong>Attendees: </strong>
    <%= link_to 'Attend Event', attend_event_path(@event.id), :method => :post %>

    <ul>
        <% for attendee in @event.users %>
            <% if attendee.id == current_user.id %>
                <li><strong><%= link_to attendee.name, user_path %></strong>
                    <%= link_to 'Withdraw', withdraw_event_path(@event.id), :method => :post %>
                </li>
            <% else %>
                <li><%= attendee.username %></li>
            <% end %>
        <% end %>   
    </ul>
</p>


